@using CvMvc.Models.Entity

@model List<TblHobiler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hobilerim</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hobi</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Aciklama1</td>
            <td><a href="/Hobi/HobiSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Hobi/HobiGetir/@item.ID" class="btn btn-warning">Düzenle</a></td>


        </tr>
    }
</table>
<a href="/Hobi/HobiEkle" class="btn btn-primary">Yeni Hobi Ekle</a>



