
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Sertifika Ekleme Ekranı</h4>
<br />
<form method="post">
    <input type="text" name="Aciklama" class="form-control" placeholder="Sertifika Yazınız" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


